@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}
select:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: #c586a5;
  box-shadow: 0 0 0 2px rgba(197, 134, 165, 0.4);
}

.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}
