@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* @keyframes luxuryReveal {
  0% {
    opacity: 0;
    transform: scale(1.04);
    filter: blur(5px);
  }
  70% {
    opacity: 1;
    transform: scale(1.005);
    filter: blur(0.6px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.hero-luxury {
  animation: luxuryReveal 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: transform, opacity, filter;
} */

/* @keyframes luxuryTextReveal {
  0% {
    opacity: 0;
    transform: translateY(14px);
    filter: blur(6px);
  }
  70% {
    opacity: 1;
    transform: translateY(1px);
    filter: blur(0.6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.hero-text {
  animation: luxuryTextReveal 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: transform, opacity, filter;
}

.hero-section {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
} */
